/* 
This is caustic on the eyes and that's the point

Choosing bad colors and themes was meant 
to highlight the vast array of tools CSS offers.
I COULD have chosen something safer 
and more corporate acceptable but that seemed boring
*/
body {
  background: #FF7171;
}

h1 {
  font-size: 96px;
  color: white;
}

h2{
  color: #6d6e6e;
  font-size: 36pt;
}

h3 {
  font-size: 24px;
  color: #6d6e6e;
}

h4{
  color: #6d6e6e;
  font-size: smaller;
  font-style:  oblique;
  font-variant: small-caps;
  font-stretch: extra-condensed; 	
  font: Comic Sans;
}

h5{
  color: #ffaa71;
  font-size: 12px;
}

h6{
  color: #6d6e6e;
  font-size: 16px;
}

.navbar{
  color: #6d6e6e;
  background: #6d6e6e
  
}


.navbar-header {
  padding: 15px;
  background: #6d6e6e;
  border: 5px solid #ffaa71;
  border-end-end-radius: 1in;
}

.navbar-header li a{
  color: #ffaa71;
  text-decoration: none;
  font-size: x-large;
  font-style:  "Calibri";
  font-variant: small-caps;

}

.dropdown {
  position: relative;
  border: 1px solid #ffaa71;
  background-color: #6d6e6e(255,200,200,0.5);  
  top: 0;
  right: 0;
  display: inline-block;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: help;
}

.dropdown-content a {
  color: #6d6e6e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#filter-btn{
  border: 1px solid #6d6e6e;
  background-color: #6d6e6e;
  color: #ffaa71;
}







.show {display: block;}

.header {
  height: 200px;
  padding-top: 20px;
  background: #FF7171;;
  color: pink;
}

.header h1 {
  padding: 48px;
  margin: 0;
  color: #6d6e6e;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
}


.header h2 {
  padding: 24px;
  margin: 0;
  color: #6d6e6e;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
}



.container{
  background: #ffaa71;
}

.rightAlign{
  text-align: right;
}

.navbarNavAltMarkup{
  padding: 60px;
  margin: 0;
  color: purple;
  text-align: center;

}




/* Below is for the Pandas to_html code */

